<%- include("./partials/navbar.ejs") %>

<h2>Create an account and follow some artists now:</h2>
<section class="citysection">
    <div class="showgrid">
        <% if (allartists.length === 0) { %>
            <p>No artists in the database.</p>
        <% } else { %>
        <% allartists.forEach(artist => { %>
            <a href="/artists/<%-artist._id%>">
            <div class="showbox">
                <img src="<%=artist.image%>" alt="Photo of <%=artist.name%>">
                <p><%=artist.name %></p>
                <form action="/auth/artists/<%-artist._id%>">
                    <button type="submit">Add to favourites</button>
                </form>
            </div>
            </a>         
        <% }) %>
        <% } %>
    </div>
</section>
