<%- include("./partials/navbar.ejs", {isLogin: false}) %>
<div class="grey-box">

</div>
<section class="detailpage">
    <div class="detailbox-left">
        <img  class="details-img" src="<%= artist.image%>" alt="Photo of <%=artist.name%>">
        <div class="details-txt">
        <h1 class="animate__animated animate__fadeInUp"><%=artist.name %></h2>
        <% if (artist.bio.length !== 0) { %>
        <h4 class="animate__animated animate__fadeInUp"><%=artist.bio.slice(0,150)%>...<button class="JSbtnmore">More</button></h4>
        <% } %>
    </div>
    </div>

    <div class="detailbox-right">
            <h3 class="animate__animated animate__fadeInRight">Upcoming Shows</h3>
            <div class="detailbox-dates">
            <% if (futureshows.length !== 0) { %>
                <% futureshows.forEach(futureshow => { %>
                    <h3 class="animate__animated animate__fadeInDown "><%=futureshow.title%></h3>
                    <h5 class="animate__animated animate__fadeInDown "><%=futureshow.date.toDateString()%></h3>
                <% }) %>    
            <% } else { %>
                <h3>No upcoming shows. Stay tuned!</h3>
            <% } %>
            </div>
            <hr>
            <h3>Past Shows</h3>
            <div class="detailbox-dates">
            <% if (pastshows.length !== 0) { %>
                <% pastshows.forEach(pastshow => { %>
                    <h3><%=pastshow.title%></h3>
                    <h5><%=pastshow.date.toDateString()%></h3>
                <% }) %> 
            <% } else { %>
                <h3>No past show yet. </h3>
            <% } %>
            </div>
    </div>
</section>

<div class="show-story-bg">
    <div style="position: absolute; right: 10%; cursor: pointer;">
        <h1>x</h1>
    </div>
</div>

<div class="show-story">
    <h4 ><%=artist.bio%></h4>
</div>