<%- include("./partials/navbar.ejs", {isLogin: false}) %>

<section class="detailpage">
    <div class="detailbox">
        <img src="<%= artist.image%>" alt="Photo of <%=artist.name%>">
        <h2><%=artist.name %></h2>
        <% if (artist.bio.length !== 0) { %>
            <div>
                <h4>Bio</h4>
                <p><%=artist.bio%></p>
            </div>
        <% } %>
    </div>

    <div class="detailbox">
        <div>
            <h4>Upcoming Shows</h4>
            <% if (futureshows.futureshows) { %>
                <p><%=futureshows.futureshows.title%></p>
                <p><%=futureshows.futureshows.date%></p>
            <% } else { %>
                <p>No upcoming shows. Stay tuned!</p>
            <% } %>
        </div>
        <div>
            <h4>Past Shows</h4>
            <% if (shows.shows.length !== 0) { %>
                <p><%=shows.shows.title%></p>
                <p><%=shows.shows.date%></p>
            <% } else { %>
                <p>No past show yet. </p>
            <% } %>
        </div>
        <div>
            <% if (artist.newsSubscription == true) { %>
                <p>Receive an alert when a new show is added</p>
            <% } else { %>
                <p>Receive an alert when a new show is added</p>
            <% } %>
        </div>
    </div>
</section>