<%- include("./partials/navbar.ejs") %>

<h1>All Upcoming Shows</h1>
<section class="citysection">
    <div class="showgrid">
        <% if (amsterdamshows.length === 0) { %>
            <p>No upcoming show in Amsterdam or Paris!</p>
        <% } else { %>
        <% isfavorite.forEach(show => { %>
            <a href="/shows/<%-show._id%>">
            <div class="showbox">
                <img src="<%=show.image%>" alt="Photo of <%=show.title%>">
                <div class="topleft-position">
                    <p><%=show.date.toDateString()%></p>
                    <h2><%=show.title %></h2>
                    <p><%=show.location%></p>
                </div>
                <div class="topright-position">
                    <form action="/auth/show/<%-show._id%>">
                        <button type="submit" id="favouritebtn">                            
                        <% if (show.favorite === true) { %>
                            <img src="/images/staricon-fullwhite.png" alt="Add to favourite">
                        <% } else { %>
                            <img src="/images/staricon-white.png" alt="Add to favourite">
                        <% } %>
                        </button>
                    </form>
                </div>
                <div class="bottomcenter-position">
                    <p>Read More</p>
                </div>
                
            </div>
            </a>         
        <% }) %>
        <% } %>
    </div>
</section>
