<%- include("./partials/navbar.ejs", {isLogin:true}) %>

<h2>Artists I follow</h2>
<section class="citysection">
    <div class="showgrid">
        <% if (favoriteartists.length === 0) { %>
            <p>You are not following any artist. Follow some now!</p>
        <% } else { %>
        <% favoriteartists.forEach(artist => { %>
            <a href="/artists/<%-artist._id%>">
            <div class="showbox">
                <img src="<%=artist.image%>" alt="Photo of <%=artist.name%>">
                <div class="topleft-position">
                    <h2><%=artist.name%></h2>
                </div>      
                <div class="topright-position">
                    <form action="/auth/artists/<%-artist._id%>">
                        <button type="submit" id="favouritebtn">
                            <img src="/images/staricon-fullwhite.png" alt="Remove from favourite">
                        </button>
                    </form>
                </div>
            </div>
            </a>         
        <% }) %>
        <% } %>
    </div>
</section>