<%- include("./partials/navbar.ejs", {isLogin:true}) %>

<h2>My upcoming shows</h2>
    <section class="citysection">
        <div class="showgrid">
            <% if (favoriteshows.length === 0) { %>
                <p>You haven't added any favorite show yet!</p>
            <% } else { %>
            <% favoriteshows.forEach(show => { %>
                <a href="/profile/myshows/<%-show._id%>">
                <div class="showbox">
                    <img src="<%=show.image%>" alt="Photo of <%=show.title%>">
                    <p><%=show.date.toDateString()%></p>
                    <p><%=show.title %></p>
                    <p><%=show.location%></p>
                    <p><%=show.city%></p>
                    <form action="/auth/show/<%-show._id%>">
                        <button type="submit">
                            <img src="/images/staricon-fullwhite.png" alt="Remove from favourite">
                        </button>
                    </form>
                </div>
                </a>         
            <% }) %>
        </div>
    </section>
<% } %>
