<%- include("./partials/navbar.ejs") %>

<h2>My profile</h2>
<section class="profile-section">
    <div class="profile-photo">
        <img src="<%= user.imagesrc %>" alt="profile-pic">
        <form action="/profile/edit/img/<%= user._id %>" method="post" enctype="multipart/form-data">
            <i class="fa-regular fa-camera" style="color: #fcfcfc;"></i>
            <input type="file" name="imageUrl" accept="image/png, image/jpg">
            <button type="submit">Edit</button>
        </form>
    </div>
    <div>
        <h1>Hello <%= user.username %></h1>
        <div>
            <div class="JSemailStatic">
                <h2><%= user.email %></h2>
                <button class="JSbtnEdit"><i class="fa-light fa-pencil" style="color: #ffffff;"></i></button>
            </div>
            <form style="display: none;" class="JSformEdit" action="/profile/edit/email/<%= user._id %>" method="POST">
                <input type="email" name="newMail">
                <button class="JSbtnSubmit" type="submit">Edit email</button>
            </form>
        </div>
    </div>
</section>
