<%- include("./partials/navbar.ejs") %>

<div class="profile-photo-div">
 <img src="<%= user.imagesrc %>" alt="profile-pic">
 <form action="/profile/edit/img/<%= user._id %>" method="post" enctype="multipart/form-data">
    <input type="file" name="imageUrl" accept="image/png, image/jpg">
    <button type="submit">Edit</button>
 </form>
</div>
<div>
    <h1><%= user.name %></h1>
    <div>
        <div class="JSemailStatic">
        <h2><%= user.email %></h2>
        <button class="JSbtnEdit">Edit email</button>
        </div>
        <form style="display: none;" class="JSformEdit" action="/profile/edit/email/<%= user._id %>" method="POST">
            <input type="email" name="newMail">
            <button class="JSbtnSubmit" type="submit">Edit email</button>
        </form>
    </div>
</div>