<%- include("./partials/navbar.ejs") %>
<button class="JSbutton" name="reset">Reset filter</button>
<h2>What`s on</h2>
<div>   
    <button class="JSbutton" name="today">Today</button>
    <button class="JSbutton" name="thisweek">This week</button>
    <button class="JSbutton" name="thismonth">this month</button>
    <button class="JSbutton" name="nextmonth">Next month</button>
</div>
<div>
    <div>
       <ul>
        <li>Event</li>
        <li>City</li>
        <li>Location</li>
        <li>Date</li>
       </ul>
    </div>
    <% searchResultsArr.forEach(show => { %>
     <div>
        <ul>
            <li><%- show.title %></li>
            <li><%- show.city %></li>
            <li><%- show.location %></li>
            <li><%- show.date %></li>
            <form action="/auth/show/<%-show._id%>">
                <button type="submit">Add to favourites</button>
            </form>
        </ul>
     </div>
    <% }) %>
</div>

<!-- [
  {
    _id: new ObjectId("644b97e0d8f7cbdc791b8371"),
    title: 'Romeo and Juliet',
    author: [ 'William Shakespeare' ],
    cast: [ 'Adam Turi', 'Solen Wanono' ],
    city: 'Amsterdam',
    createdAt: 2023-04-28T09:54:40.707Z,
    date: 2023-04-28T00:00:00.000Z,
    director: [],
    image: '',
    location: 'Internationaal Theater Amsterdam',
    story: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua',
    updatedAt: 2023-04-28T13:59:46.792Z
  }
] -->

