<%- include("./partials/navbar.ejs") %>

<h3>Results for: <span style="text-decoration: underline;"><%= searchTerms %></span></h3>
<h2>What`s on</h2>
<div class="filter-buttons">   
    <button class="JSbutton" name="today">Today</button>
    <button class="JSbutton" name="thisweek">This week</button>
    <button class="JSbutton" name="thismonth">This month</button>
    <button class="JSbutton" name="nextmonth">Next month</button>
    <button class="JSbutton reset-button" name="reset">Reset filter</button>
</div>
<div >
    <div>
       <ul class="search-table search-table-header">
        <li>Event</li>
        <li>City</li>
        <li>Location</li>
        <li>Date</li>
       </ul>
    </div>
    <% searchUserFavShows.forEach(show => { %>
     <div>
        <ul class="search-table">
            <li class="fav-li">
                <form action="/auth/show/<%-show._id%>">
                    <button type="submit" class="fav-btn">                            
                    <% if (show.favorite === true) { %>
                        <img src="/images/staricon-fullwhite.png" alt="Add to favourite">
                    <% } else { %>
                        <img src="/images/staricon-white.png" alt="Add to favourite">
                    <% } %>
                    </button>
                    
                </form>
                <span > <a class="search-show-detail" href="/shows/<%-show._id%>"><%- show.title %></a></span>
            </li>
            <li><%- show.city %></li>
            <li><%- show.location %></li>
            <li><%- `${show.date.getDate()}-${show.date.getMonth()+1}-${show.date.getFullYear()}` %></li>
            
        </ul>
     </div>
    <% }) %>
</div>