<%- include("./partials/navbar.ejs") %>

<section class="detailpage">
    <div class="detailbox">
        <img src="<%= show.image%>" alt="Photo of <%=show.title%>">
        <h2><%=show.title %></h2>
        <div>
            <p><strong>Date:</strong> <%=show.date.toDateString()%></p>
            <p><strong>Location:</strong> <%=show.location%></p>
        </div>
    </div>

    <div class="detailbox">
        <div>
            <h4>Synopsis</h4>
            <p><%=show.story%></p>
        </div>
        <% if (show.author.length !== 0) { %>
            <div>
                <h4>Author</h4>
                <p><%=show.author%></p>
                <!-- <form action="/auth/artists/< show.artist._id%>">
                    <button type="submit">Add to favorites</button>
                </form> -->
            </div>
        <% } %>
        <% if (show.director.length !== 0) { %>
        <div>
            <h4>Director</h4>
            <p><%=show.director%></p>
            <!-- <form action="/auth/artists/< show.artist._id%>">
                <button type="submit">Add to favorites</button>
            </form> -->
        </div>
        <% } %>
        <% if (show.cast.length !== 0) { %>
        <div>
            <h4>Cast</h4>
            <p><%=show.cast%></p>
        </div>
        <% } %>
    </div>
</section>
