<%- include("./partials/navbar.ejs") %>
<div class="grey-box">

</div>

<section class="detailpage">
    <div class="detailbox-left">
        <img class="details-img" src="<%= show.image%>" alt="Photo of <%=show.title%>">
        <div class="details-txt">
            <h1 class="animate__animated animate__fadeInUp"><%=show.title %></h1>
            <h3 class="animate__animated animate__fadeInUp" ><%=show.location%></h3>
            <h4  class="animate__animated animate__fadeInUp"><%=show.story.slice(0,150)%>...<button class="JSbtnmore">More</button></h4>
           
        </div>     
    </div>

    <div class="detailbox-right">
        <h3 class="animate__animated animate__fadeInRight">Dates</h3>
        <div class="detailbox-dates">
            <h3 class="animate__animated animate__fadeInDown "><%=show.date.toDateString()%></h3>
            <h5 class="animate__animated animate__fadeInDown "><%=show.location%></h5>
            
        </div>
        <hr>
        <h3>Author</h3>
        <% if (authorArr.length !== 0) { %>
            <div class="details-artists">
                <%authorArr.forEach(author=> { %>
                    <div class="artist-id-div">
                        <a href="/artists/<%= author._id %>"><%=author.name%></a>
                        <form action="/auth/artists/<%= author._id%>">
                            <button type="submit" class="fav-btn">
                                <% if (author.favorite === true) { %>
                                    <img src="/images/staricon-fullwhite.png" alt="Add to favourite">
                                <% } else { %>
                                    <img src="/images/staricon-white.png" alt="Add to favourite">
                                <% } %>
                            </button>
                        </form>
                    </div>
                <% }); %>  
                
            </div>
            <hr>
        <% } %>
        <% if (directorArr.length !== 0) { %>
            <h3>Director</h3>
        <div class="details-artists"> 
            <%directorArr.forEach(director=> { %>
                <div class="artist-id-div">
                    <a href="/artists/<%= director._id %>"><%=director.name%></a>
                    <form action="/auth/artists/<%= director._id%>">
                        <button type="submit" class="fav-btn">
                            <% if (director.favorite === true) { %>
                                <img src="/images/staricon-fullwhite.png" alt="Add to favourite">
                            <% } else { %>
                                <img src="/images/staricon-white.png" alt="Add to favourite">
                            <% } %>
                        </button>
                    </form>
                </div>
            <% }); %>  
        </div>
        <hr>
        <% } %>
        <% if (castArr.length !== 0) { %>
            <h3>Cast</h3>
        <div class="details-artists scroll cast-grid">
            <%castArr.forEach(cast => { %>
                <div class="artist-id-div">
                    <a href="/artists/<%= cast._id %>"><%=cast.name%></a>
                    <form action="/auth/artists/<%= cast._id%>">
                        <button type="submit" class="fav-btn">
                            <% if (cast.favorite === true) { %>
                                <img src="/images/staricon-fullwhite.png" alt="Add to favourite">
                            <% } else { %>
                                <img src="/images/staricon-white.png" alt="Add to favourite">
                            <% } %>
                        </button>
                    </form>
                </div>
            <% }); %>  
       
        <% } %>

    </div>

</section>
<div class="show-story-bg">
    <div style="position: absolute; right: 10%; cursor: pointer;">
        <h1>x</h1>
    </div>
</div>

<div class="show-story">
    <h4 ><%=show.story%></h4>
</div>
